/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#jumbotron {
	background-repeat: no-repeat;
	background-position: bottom right;
    
    padding-top: 140px;
    padding-bottom: 140px;
    margin-bottom: 20px;
}

.marketing .col-md-4 {
  margin-bottom: 0px;
  text-align: center;
}

footer {
  text-align: right;
}

.btn-default {
    color: ccc#;
    border-color: #88b4bd;
    background-color: #88b4bd;
    /*background-color: #f5f5f5;*/
}




